name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    # strategy:
    #   matrix:
    #     os: [ubuntu-latest, windows-latest]
    # runs-on: ${{ matrix.os }}
    # steps:

    # - name: Set up Go 1.x
    #   uses: actions/setup-go@v2
    #   with:
    #     go-version: ^1.13

    # - name: Check out code into the Go module directory
    #   uses: actions/checkout@v2

    # - name: Build
    #   run: go build -v ./...
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Build
      run: ./build.sh

    - uses: actions/upload-artifact@v2
      with:
        name: linux_amd64
        path: publish/linux_amd64/*
        
    - uses: actions/upload-artifact@v2
      with:
        name: win_amd64
        path: publish/win_amd64/*